<!doctype html>
html
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge,chrome=1")
    meta(name="description", content="")
    meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")
    title="Go Build Monitor"
  body
    #app="APPLICATION CONTENT"
    script="__REACT_DEVTOOLS_GLOBAL_HOOK__ = parent.__REACT_DEVTOOLS_GLOBAL_HOOK__"
    script(type="text/javascript", src="/dist/index_bundle.js")
    link(href='https://fonts.googleapis.com/css?family=Open+Sans:400,500,300,700', rel='stylesheet', type='text/css')
